/* Created by: Kenny Le
* Created on: Apr 2022
* This file contains the CSS for index.html
*/

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

body {
  background-color: beige;
}

p {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding-top: 5pt;
}
